.layout {
  min-height: 100vh;
  background-color: var(--background-secondary);
}

.main {
  min-height: 100vh;
  width: 100vw;
  margin: 0 auto;
  padding-bottom: 64px;
  background-color: var(--background);
}

